html, body{
    height: 100%;
}
body{
    background: url("background.jpg") no-repeat center center fixed; 
}
body,.top,.bottom{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    word-wrap: break-word;
}
.frame{
    height: 100%;
    display: flex; 
    flex-direction:column;
    justify-content: space-between;

    font-family: Courier New, monospace;
}

.top{
    width:100%;
}
.title{
    background-image: url("header.jpg") ;
    border:none;
    border-radius: 3px;
    width:100%;
    order: -1;

    color: rgb(175, 149, 216);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}
.main-text{
    margin: 1% 5%;
    max-width: 1000px;
    color:white;
}

.mid{
    display: flex; 
    justify-content: space-around;
    flex-wrap:wrap;
    
    padding: 0 150px 150px 150px;
}
.watchlist{
    color: #D0BDD5;
    order: 1;
}
.watched{
    color: #D0BDD5;
    order: 2;
}

.label{
    background-color: rgb(39, 29, 53);
    color: rgb(208, 156, 243);
    opacity: 80%;
    border: none;
    border-radius: 5px;
    padding: 7px 7px;
    font-size: 16px;
    font-family: Courier New, monospace;
}

.form{
    color:#D0BDD5;
    display:block;
}.form-input{
    display:block;
    background-color: #D0BDD5;
    color: #1B0421;
    border-radius: 3px;
    padding: 5px 7px;
    font-size: 15px;
    font-family: Courier New, monospace;
}.form-input:hover{
    background-color: rgb(158, 133, 165);
}

.bottom{
    background-image: url("footer.jpg");
    border:none;
    border-radius: 3px;
    width:100%;
    padding: 10px 0;
    order:4;
    
    color:#C895D8;
    text-align: center;
}