html, body{
    height: 100%;
    margin: 0px auto;
}
body{
    background: url("background.jpg") no-repeat center center fixed; 
}
body,.top,.bottom{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    flex-wrap:wrap;
    word-wrap: break-word;
}
.frame{
    width: 1280px;
    margin: 0px auto;
    height: 100%;
    display: flex; 
    flex-direction:column;
    justify-content: space-between;

    font-family: Courier New, monospace;
}

.top{
    width:100%;
    padding-top: 5px;
}
.title{
    background-image: url("header.jpg") ;
    border:none;
    border-radius: 3px;
    width: 100%;
    margin: 0px auto;
    order: -1;

    color: rgb(175, 149, 216);
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    flex-wrap:wrap;
    word-wrap: break-word;
}
.main-text{
    margin: 1% 5%;
    max-width: 1000px;
    color:white;
    font-size: 20px;
    flex-wrap:wrap;
    word-wrap: break-word;
}

.mid{
    display: flex; 
    justify-content: space-around;
    

    width: 90%;
    margin: 0px auto;
}
.watchlist{
    color: #D0BDD5;
    order: 1;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}
.watched{
    color: #D0BDD5;
    order: 2;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 20px;
}

.label{
    background-color: rgb(39, 29, 53);
    color: rgb(208, 156, 243);
    opacity: 80%;
    border: none;
    border-radius: 5px;
    padding: 7px 7px;
    font-size: 22px;
    font-family: Courier New, monospace;
    flex-wrap:wrap;
    word-wrap: break-word;
}

.form{
    color:#D0BDD5;
    display:block;
}.form-input{
    display:block;
    background-color: #D0BDD5;
    color: #1B0421;
    border-radius: 3px;
    padding: 5px 7px;
    font-size: 18px;
    font-family: Courier New, monospace;
    flex-wrap:wrap;
    word-wrap: break-word;
}.form-input:hover{
    background-color: rgb(158, 133, 165);
}

.bottom{
    background-image: url("footer.jpg");
    border:none;
    border-radius: 3px;
    width:100%;
    padding: 10px 0;
    order:4;
    
    color:#C895D8;
    text-align: center;
    font-size: 18px;
    flex-wrap:wrap;
    word-wrap: break-word;
}

/**************/
/* Responsive */
/**************/

/* Desktop */
@media screen and (max-width:2560px){
    .frame{
        width: 90%;
        margin: 0px auto;
    }
}
/* Tableta */
@media screen and (max-width:1280px){
    .frame{
        width: 98%;
        margin: 0px auto;
        overflow: scroll;
    }
}
/* Telefon */
@media screen and (max-width:768px){
    .main-text{
        font-size: 26px;
    }
    .mid{
        height: 50%;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .watchlist{
        width: 80%;
        font-size: 30px;
    }
    .watched{
        width: 80%;
        padding-top: 100px;
        font-size: 30px;
    }
    .label{
        font-size: 30px;
    }
    .form-input{
        font-size: 30px;
    }
    .bottom{
        font-size: 26px;
    }
}
