html, body{
    height: 100%;
}
body{
    background: url("background.jpg") no-repeat center center fixed; 
}
body,.top,.bottom{
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    word-wrap: break-word;
}
.frame{
    height: 100%;
    display: flex; 
    flex-direction:column;
    justify-content: space-between;

    font-family: Courier New, monospace;
}

.top{
    background-image: url("header.jpg") ;
    border:none;
    border-radius: 3px;
    width:100%;
    order: -1;

    color: rgb(175, 149, 216);
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.mid{
    display: flex; 
    justify-content: space-between;

    flex-wrap:wrap;
    min-height: 50%;

}

.empty-table-text{
    display: none;
}.table#watchlist{
    color: rgb(122, 218, 247);
    display:block;
    padding-left: 200px;
}.table#watched{
    color: rgb(122, 247, 122);
    display:block;
    padding-left: 200px;
}
.table th{
    background-color: rgb(43, 13, 82);
    opacity:0.9;
    border: 1px solid rgb(13, 4, 26);
    border-radius: 6px;
    /* width: 40%; */
    padding: 8px 15px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}.table td{
    border: 1px solid rgb(195, 158, 236);
    border-radius: 4px;
    width: 40%;
    padding: 4px 15px;
    font-size: 16px;
    text-align: center;
}

.edit-delete-back{
    padding-top: 50px;
    padding-right: 200px;
}
.button{
    background-color: rgb(209, 130, 56);
    color: rgb(44, 5, 59);
    border: 1px solid rgba(44, 5, 59);
    border-radius: 6px;
    padding: 10px;
    font-size: 16px;
    font-family: Courier New, monospace;
}.button:hover{
    background-color: rgb(107, 50, 4);
}

.form{
    display:none;
    color:#D0BDD5;
}.form-input{
    display:block;
    font-family: Courier New, monospace;
    background-color: #D0BDD5;
    color: #1B0421;
    border-radius: 3px;
    padding: 5px 5px;
    font-size: 15px;
}.form-input:hover{
    background-color: rgb(158, 133, 165);
}

.bottom{
    background-image: url("footer.jpg");
    margin-top: 50px;
    border:none;
    border-radius: 3px;
    width:100%;
    padding: 10px 0;
    order:4;
    
    color:#C895D8;
    text-align: center;
}